<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802120506870-n5pkp23ognjg58dg3j3968vsij3bnjft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802120506870-n5pkp23ognjg58dg3j3968vsij3bnjft</string>
	<key>API_KEY</key>
	<string>AIzaSyBMITZg0No1ahzeeW_l1q6t9rY14vmMut0</string>
	<key>GCM_SENDER_ID</key>
	<string>802120506870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com..AP-Project</string>
	<key>PROJECT_ID</key>
	<string>ap-project-ccb4a</string>
	<key>STORAGE_BUCKET</key>
	<string>ap-project-ccb4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802120506870:ios:632078c7f28be820</string>
	<key>DATABASE_URL</key>
	<string>https://ap-project-ccb4a.firebaseio.com</string>
</dict>
</plist>